.book-border {
  border-bottom: 2px solid rgb(171, 170, 170);
}
/* .odd,
.even:hover {
  transform: scale(1.1);
  transition: 0.4s all ease;
}

.even,
.odd:hover {
  transform: scale(0.8);
  transition: 0.4s all ease;
} */
