@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

body {
  margin: 0;
  font-family: "Sora";
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Sora";
  /* border: 1px solid red; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
